@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Shadows Into Light', cursive;
  background-color: lightslategrey;
  color: white;
}

button {
  all: unset;
}

.quote-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.quote__content {
  width: 70%;
  font-size: 1.8rem;
  text-align: center;
}

.quote__author {
  font-size: 1.5rem;
}

.quote__btn {
  padding: .8rem 1.5rem;
  background-color: lightseagreen;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all .1s linear;
}

.quote__btn > button {
  transition: all .1s linear;
}

.quote__btn > button:hover {
  color: black;
}

.quote__btn:active {
  transform: scale(0.9);
}


@media screen and (max-width: 500px) {
  .quote__content {
    font-size: 1.5rem;
  }

  .quote__author {
    font-size: 1.3rem;
  }

  .quote__btn {
    padding: .5rem 1rem;
    font-size: 1.3rem;
  }
}
